In [1]:
import pandas as pd
import numpy as np
import altair as alt

# Data sources:
1. [Death registry over the last 6 years](https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/the21stcenturymortalityfilesdeathsdataset)
2. [COVID registered deaths latest (week 35)](https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/deathregistrationsandoccurrencesbylocalauthorityandhealthboard)
3. [Weekly death tables are here](https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales)

In [2]:
import os
os.getcwd()

'/Users/anaraquelpengelly/Desktop/MSc_HDAML/term_3_project/visa/deaths/excess_deaths'

In [3]:
years=list(range(2016, 2020))
print(years)

[2016, 2017, 2018, 2019]

In [4]:
#load df for 2020
path=os.getcwd()+'/weekly/'
df_20=pd.read_excel(path+'publishedweek4320202.xlsx', sheet_name='Weekly figures 2020', skiprows=4)
df_20.head()

,Week number,Unnamed: 1,1,2,3,4,5,6,7,8,...,44,45,46,47,48,49,50,51,52,53
0,Week ended,NaN,2020-01-03 00:00:00,2020-01-10 00:00:00,2020-01-17 00:00:00,2020-01-24 00:00:00,2020-01-31 00:00:00,2020-02-07 00:00:00,2020-02-14 00:00:00,2020-02-21 00:00:00,...,2020-10-30,2020-11-06,2020-11-13,2020-11-20,2020-11-27,2020-12-04,2020-12-11,2020-12-18,2020-12-25,2021-01-01
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,"Total deaths, all ages",NaN,12254,14058,12990,11856,11612,10986,10944,10841,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,Total deaths: average of corresponding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [5]:
#load DF 2019
df_19=pd.read_excel(path+'publishedweek522019.xls', sheet_name='Weekly figures ' + str(years[3]), skiprows=3)
df_19.head()

,Week number,Unnamed: 1,1,2,3,4,5,6,7,8,...,43,44,45,46,47,48,49,50,51,52
0,Week ended,NaN,2019-01-04 00:00:00,2019-01-11 00:00:00,2019-01-18 00:00:00,2019-01-25 00:00:00,2019-02-01 00:00:00,2019-02-08 00:00:00,2019-02-15 00:00:00,2019-02-22 00:00:00,...,2019-10-25 00:00:00,2019-11-01 00:00:00,2019-11-08 00:00:00,2019-11-15 00:00:00,2019-11-22 00:00:00,2019-11-29 00:00:00,2019-12-06 00:00:00,2019-12-13 00:00:00,2019-12-20 00:00:00,2019-12-27 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Total deaths, all ages",NaN,10955,12609,11860,11740,11297,11660,11824,11295,...,10021,10164,10697,10650,10882,10958,10816,11188,11926,7533
4,Total deaths: average of corresponding,NaN,12273,13670,13056,12486,11998,11623,11301,11383,...,9674,9777,10142,10226,10124,10164,10585,10622,11499,8014

In [6]:
#deal with exceptions 2014 and 2015
df_14=pd.read_excel(path+'publishedweek2014.xls', sheet_name='Weekly Figures ' + str(2014), skiprows=2)
df_15=pd.read_excel(path+'publishedweek2015.xls', sheet_name='Weekly Figures ' + str(2015), skiprows=3)
df_15.head()

,Week number,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,Week ended,2015-01-02 00:00:00,2015-01-09 00:00:00,2015-01-16 00:00:00,2015-01-23 00:00:00,2015-01-30 00:00:00,2015-02-06 00:00:00,2015-02-13 00:00:00,2015-02-20 00:00:00,2015-02-27 00:00:00,...,2015-10-30 00:00:00,2015-11-06 00:00:00,2015-11-13 00:00:00,2015-11-20 00:00:00,2015-11-27 00:00:00,2015-12-04 00:00:00,2015-12-11 00:00:00,2015-12-18 00:00:00,2015-12-25 00:00:00,2016-01-01 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Total deaths, all ages",12286,16237,14866,13934,12900,12039,11822,11434,11472,...,9618,9994,9938,9830,9822,10365,10269,10689,8630,7524
4,Total deaths: average of corresponding,11837.6,12277,11145,10714,10492,10320.4,10325,10429.8,10313.8,...,9468.4,9466.8,9650.8,9498,9496.8,10208.2,10440.4,11221,8139.2,8139

In [7]:

for year in years:
    for file in os.listdir(path):
        if str(year) in file:
            print(file)

publishedweek522016.xls
publishedweek522017.xls
publishedweek522018withupdatedrespiratoryrow.xls
publishedweek522019.xls

In [8]:
df_list=[df_14, df_15]
for year in years:
    for file in os.listdir(path):
        if str(year) in file:
            df_year=pd.read_excel(path+file, sheet_name='Weekly figures ' + str(year), skiprows=3)
            df_list.append(df_year)

df_list.append(df_20)
len(df_list)

7

In [9]:
len(df_list)

7

In [10]:
#reset years
years=list(range(2014, 2021))
new_df_list=[]
# rename the row for each data frame for each year
## reset index to 'Week ended'
for i in range(len(years)):
    t=df_list[i].set_index('Week number')
    t.rename(index={'Total deaths, all ages': 'total_deaths_'+str(years[i])}, inplace=True)
    new_df_list.append(t)

#remove rows above and below the wanted rows


#make df of those rows

In [11]:
list_tot=[new_df_list[i].loc['total_deaths_'+str(years[i])] for i in range(len(new_df_list))]
list_tot
df_tot=pd.DataFrame(list_tot)
df_tot=df_tot.drop(['Unnamed: 1'], axis=1)
df_tot

,1,2,3,4,5,6,7,8,9,10,...,44,45,46,47,48,49,50,51,52,53
total_deaths_2014,11448,11847,11061,10374,10258,10147,10198,10427,10377,9828,...,9586,9753,10036,9472,9928,10267,10550,11681,7837,NaN
total_deaths_2015,12286,16237,14866,13934,12900,12039,11822,11434,11472,11469,...,9618,9994,9938,9830,9822,10365,10269,10689,8630,7524
total_deaths_2016,13045,11501,11473,11317,11052,11170,10590,11056,11285,11010,...,10152,10470,10694,10603,10439,11223,10533,11493,8003,NaN
total_deaths_2017,11991,13715,13610,12877,12485,12269,11644,11794,11248,11077,...,9984,10346,10275,10621,10538,10781,11217,12517,8487,NaN
total_deaths_2018,12723,15050,14256,13935,13285,12495,12246,12142,10854,12997,...,9529,10151,10193,9957,10033,10287,10550,11116,7131,NaN
total_deaths_2019,10955,12609,11860,11740,11297,11660,11824,11295,11044,10898,...,10164,10697,10650,10882,10958,10816,11188,11926,7533,NaN
total_deaths_2020,12254,14058,12990,11856,11612,10986,10944,10841,10816,10895,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [12]:
df_tot_t=df_tot.transpose()
df_tot_t.head()

,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019,total_deaths_2020
1,11448,12286,13045,11991,12723,10955,12254
2,11847,16237,11501,13715,15050,12609,14058
3,11061,14866,11473,13610,14256,11860,12990
4,10374,13934,11317,12877,13935,11740,11856
5,10258,12900,11052,12485,13285,11297,11612

In [13]:
list(df_tot_t.columns[:-1])

['total_deaths_2014',
 'total_deaths_2015',
 'total_deaths_2016',
 'total_deaths_2017',
 'total_deaths_2018',
 'total_deaths_2019']

In [14]:
# Now we calculate the average for 2014-2019
df_tot_t['avg_weekly_deaths_14_19']=df_tot_t[list(df_tot_t.columns[:-1])].mean(axis=1)
df_tot_t.head()

,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019,total_deaths_2020,avg_weekly_deaths_14_19
1,11448,12286,13045,11991,12723,10955,12254,12074.666667
2,11847,16237,11501,13715,15050,12609,14058,13493.166667
3,11061,14866,11473,13610,14256,11860,12990,12854.333333
4,10374,13934,11317,12877,13935,11740,11856,12362.833333
5,10258,12900,11052,12485,13285,11297,11612,11879.500000

In [15]:
df_tot_t['week_number']=range(1, 54)
df_tot_t

,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019,total_deaths_2020,avg_weekly_deaths_14_19,week_number
1,11448,12286,13045,11991,12723,10955,12254,12074.666667,1
2,11847,16237,11501,13715,15050,12609,14058,13493.166667,2
3,11061,14866,11473,13610,14256,11860,12990,12854.333333,3
4,10374,13934,11317,12877,13935,11740,11856,12362.833333,4
5,10258,12900,11052,12485,13285,11297,11612,11879.500000,5
6,10147,12039,11170,12269,12495,11660,10986,11630.000000,6
7,10198,11822,10590,11644,12246,11824,10944,11387.333333,7
8,10427,11434,11056,11794,12142,11295,10841,11358.000000,8
9,10377,11472,11285,11248,10854,11044,10816,11046.666667,9
10,9828,11469,11010,11077,12997,10898,10895,11213.166667,10
11,10005,10951,11022,10697,12788,10567,11019,11005.000000,11
12,9832,10568,9635,10325,11913,10402,10645,10445.833333,12
13,9622,10493,10286,10027,9941,9867,11141,10039.333333,13
14,9944,9062,11599,9939,10794,10126,16387,10244.000000,14
15,9504,10089,11417,8493,12301,10291,18516,10349.166667,15
16,8000,11639,10925,9644,11223,9025,22351,10076.000000,16
17,9359,10599,10413,10908,10306,10059,21997,10274.000000,17
18,10527,10134,9137,9064,10153,11207,17953,10037.000000,18
19,8613,8862,10637,10693,8624,9055,12657,9414.000000,19
20,9513,10290,9953,10288,10141,10272,14573,10076.166667,20
21,9313,10005,9739,10040,9636,10284,12288,9836.166667,21
22,8034,8213,7909,8332,8147,8260,9824,8149.166667,22
23,9557,10157,9873,9766,9950,10140,10709,9907.166667,23
24,9414,9548,9386,9367,9343,9445,9976,9417.166667,24
25,8946,9312,9365,9627,9256,9458,9339,9327.333333,25
26,8931,9190,9228,9334,9212,9511,8979,9234.333333,26
27,8763,9205,9138,9263,9258,9062,9140,9114.833333,27
28,8784,9015,9388,9376,9293,9179,8690,9172.500000,28
29,9119,8802,9350,9113,9127,9080,8823,9098.500000,29
30,8965,8791,9335,8882,9141,9112,8891,9037.666667,30
31,8916,8617,9182,8941,9161,9271,8946,9014.666667,31
32,8755,8862,9172,9038,9319,9122,8945,9044.666667,32
33,8792,9148,9070,9299,8830,9093,9392,9038.666667,33
34,8769,9121,9319,9382,8978,8994,9631,9093.833333,34
35,8027,9026,7923,8149,7865,8242,9032,8205.333333,35
36,9671,7878,9399,9497,9445,9695,7739,9264.166667,36
37,9284,9258,9124,9454,9191,9513,9811,9304.000000,37
38,9107,9097,8945,9534,9305,9440,9523,9238.000000,38
39,9048,9529,8994,9689,9150,9517,9634,9321.166667,39
40,9271,9410,9291,9778,9503,9799,9945,9508.666667,40
41,9173,9776,9719,9940,9649,9973,9954,9705.000000,41
42,9464,9511,9768,10031,9864,10156,10534,9799.000000,42
43,9603,9711,9724,9739,9603,10021,10739,9733.500000,43
44,9586,9618,10152,9984,9529,10164,NaT,9838.833333,44
45,9753,9994,10470,10346,10151,10697,NaT,10235.166667,45
46,10036,9938,10694,10275,10193,10650,NaT,10297.666667,46
47,9472,9830,10603,10621,9957,10882,NaT,10227.500000,47
48,9928,9822,10439,10538,10033,10958,NaT,10286.333333,48
49,10267,10365,11223,10781,10287,10816,NaT,10623.166667,49
50,10550,10269,10533,11217,10550,11188,NaT,10717.833333,50
51,11681,10689,11493,12517,11116,11926,NaT,11570.333333,51
52,7837,8630,8003,8487,7131,7533,NaT,7936.833333,52
53,NaN,7524,NaN,NaN,NaN,NaN,NaT,7524.000000,53

In [16]:
#difference between the average 2014-2019 and 2020
df_tot_t['diff_avg_14_19_to_20']= df_tot_t['total_deaths_2020']-df_tot_t['avg_weekly_deaths_14_19']
df_tot_t

,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019,total_deaths_2020,avg_weekly_deaths_14_19,week_number,diff_avg_14_19_to_20
1,11448,12286,13045,11991,12723,10955,12254,12074.666667,1,179.333
2,11847,16237,11501,13715,15050,12609,14058,13493.166667,2,564.833
3,11061,14866,11473,13610,14256,11860,12990,12854.333333,3,135.667
4,10374,13934,11317,12877,13935,11740,11856,12362.833333,4,-506.833
5,10258,12900,11052,12485,13285,11297,11612,11879.500000,5,-267.5
6,10147,12039,11170,12269,12495,11660,10986,11630.000000,6,-644
7,10198,11822,10590,11644,12246,11824,10944,11387.333333,7,-443.333
8,10427,11434,11056,11794,12142,11295,10841,11358.000000,8,-517
9,10377,11472,11285,11248,10854,11044,10816,11046.666667,9,-230.667
10,9828,11469,11010,11077,12997,10898,10895,11213.166667,10,-318.167
11,10005,10951,11022,10697,12788,10567,11019,11005.000000,11,14
12,9832,10568,9635,10325,11913,10402,10645,10445.833333,12,199.167
13,9622,10493,10286,10027,9941,9867,11141,10039.333333,13,1101.67
14,9944,9062,11599,9939,10794,10126,16387,10244.000000,14,6143
15,9504,10089,11417,8493,12301,10291,18516,10349.166667,15,8166.83
16,8000,11639,10925,9644,11223,9025,22351,10076.000000,16,12275
17,9359,10599,10413,10908,10306,10059,21997,10274.000000,17,11723
18,10527,10134,9137,9064,10153,11207,17953,10037.000000,18,7916
19,8613,8862,10637,10693,8624,9055,12657,9414.000000,19,3243
20,9513,10290,9953,10288,10141,10272,14573,10076.166667,20,4496.83
21,9313,10005,9739,10040,9636,10284,12288,9836.166667,21,2451.83
22,8034,8213,7909,8332,8147,8260,9824,8149.166667,22,1674.83
23,9557,10157,9873,9766,9950,10140,10709,9907.166667,23,801.833
24,9414,9548,9386,9367,9343,9445,9976,9417.166667,24,558.833
25,8946,9312,9365,9627,9256,9458,9339,9327.333333,25,11.6667
26,8931,9190,9228,9334,9212,9511,8979,9234.333333,26,-255.333
27,8763,9205,9138,9263,9258,9062,9140,9114.833333,27,25.1667
28,8784,9015,9388,9376,9293,9179,8690,9172.500000,28,-482.5
29,9119,8802,9350,9113,9127,9080,8823,9098.500000,29,-275.5
30,8965,8791,9335,8882,9141,9112,8891,9037.666667,30,-146.667
31,8916,8617,9182,8941,9161,9271,8946,9014.666667,31,-68.6667
32,8755,8862,9172,9038,9319,9122,8945,9044.666667,32,-99.6667
33,8792,9148,9070,9299,8830,9093,9392,9038.666667,33,353.333
34,8769,9121,9319,9382,8978,8994,9631,9093.833333,34,537.167
35,8027,9026,7923,8149,7865,8242,9032,8205.333333,35,826.667
36,9671,7878,9399,9497,9445,9695,7739,9264.166667,36,-1525.17
37,9284,9258,9124,9454,9191,9513,9811,9304.000000,37,507
38,9107,9097,8945,9534,9305,9440,9523,9238.000000,38,285
39,9048,9529,8994,9689,9150,9517,9634,9321.166667,39,312.833
40,9271,9410,9291,9778,9503,9799,9945,9508.666667,40,436.333
41,9173,9776,9719,9940,9649,9973,9954,9705.000000,41,249
42,9464,9511,9768,10031,9864,10156,10534,9799.000000,42,735
43,9603,9711,9724,9739,9603,10021,10739,9733.500000,43,1005.5
44,9586,9618,10152,9984,9529,10164,NaT,9838.833333,44,NaN
45,9753,9994,10470,10346,10151,10697,NaT,10235.166667,45,NaN
46,10036,9938,10694,10275,10193,10650,NaT,10297.666667,46,NaN
47,9472,9830,10603,10621,9957,10882,NaT,10227.500000,47,NaN
48,9928,9822,10439,10538,10033,10958,NaT,10286.333333,48,NaN
49,10267,10365,11223,10781,10287,10816,NaT,10623.166667,49,NaN
50,10550,10269,10533,11217,10550,11188,NaT,10717.833333,50,NaN
51,11681,10689,11493,12517,11116,11926,NaT,11570.333333,51,NaN
52,7837,8630,8003,8487,7131,7533,NaT,7936.833333,52,NaN
53,NaN,7524,NaN,NaN,NaN,NaN,NaT,7524.000000,53,NaN

In [17]:
total_excess_deaths=np.sum(df_tot_t['diff_avg_14_19_to_20'])
total_excess_deaths

61149.33333333335

## Compare the number of deaths in 2020 until week 43 and the average number of deaths from 2014-2020 to week 43

In [18]:
test=df_tot_t[df_tot_t['week_number'].isin(list(range(1, 44)))]

In [19]:
avg_tot_deaths_14_19_w43=np.sum(test['avg_weekly_deaths_14_19'])
tot_deaths_20_w43=np.sum(df_tot_t['total_deaths_2020'])

In [20]:
print(f'the total number of deaths in 2020 is so far: {tot_deaths_20_w43}, \nthe the average yearly deaths from 2014 to 2019 up to week 43 is: {avg_tot_deaths_14_19_w43}. \nThe difference is: {round(tot_deaths_20_w43-avg_tot_deaths_14_19_w43, 2)}')

the total number of deaths in 2020 is so far: 494975,
the the average yearly deaths from 2014 to 2019 up to week 43 is: 433825.6666666666.
The difference is: 61149.33

In [21]:
print(f'The percentage of excess deaths in 2020 is: {round((tot_deaths_20_w43-avg_tot_deaths_14_19_w43)/tot_deaths_20_w43*100, 2)}%')

The percentage of excess deaths in 2020 is: 12.35%

# Now plot both the average deaths in 2014-2019 and the deaths in 2020 in the same plot!

In [22]:
##use this : 

df1 = df_tot_t[['total_deaths_2020', 'week_number']]

df2 = df_tot_t[['avg_weekly_deaths_14_19', 'week_number']]

chart1 = alt.Chart(df1).mark_line(color='red').encode(
    x=alt.X('week_number', title='Week number'), 
    y=alt.Y('total_deaths_2020', title='Deaths')
)

chart2 = alt.Chart(df2).mark_line().encode(
    x='week_number', 
    y='avg_weekly_deaths_14_19')

chart1 + chart2

alt.LayerChart(...)

In [23]:
# Now lets try this:
df=df_tot_t[['week_number', 'total_deaths_2020', 'avg_weekly_deaths_14_19']]
alt.Chart(df).mark_line().transform_fold(
    fold=['total_deaths_2020', 'avg_weekly_deaths_14_19'], 
    as_=['variable', 'value']
).encode(
    x=alt.X('week_number', title='Week number'),
    y=alt.Y('value:Q', title='Deaths'),
    color=alt.Color('variable:N', legend=alt.Legend(title=None))
)

alt.Chart(...)

# Determine how many weeks there are between the first lockdown and a reduction in the number of excess deaths

## First determine the week with the maximum number of deaths in 2020:

In [26]:
#max number of deaths occured on week: 

max_week=df_tot_t[df_tot_t['total_deaths_2020'] == max(df_tot_t['total_deaths_2020'])]['week_number']
print(f'the week with the most excess deaths in 2020 was week {max_week}. The week after was week {max_week+1}.')

the week with the most excess deaths in 2020 was week 16    16
Name: week_number, dtype: int64. The week after was week 16    17
Name: week_number, dtype: int64.

## Second determine the number of weeks between the first mandatory lockdowns and the reduction of deaths

In [30]:
max_week

16    16
Name: week_number, dtype: int64

In [32]:
w_fst_manda_lock=13
w_reduc_deaths=17
w_signi_red_deaths=18
w_diff=w_reduc_deaths-w_fst_manda_lock
w_signi_diff=w_signi_red_deaths-w_fst_manda_lock
print(f'The approximate lag between the week of the first lockdown and\nthe week when deaths started to drop is between {w_diff} and {w_signi_diff} weeks.')

The approximate lag between the week of the first lockdown and
the week when deaths started to drop is between 4 and 5 weeks.

# What do we want to calculate?
1. First we need to calculate the weekly average number of deaths per LAD (per hospital, if possible), since 2014
(Question: do we consider all ages and all causes? I think initially we should!)
2. Then we compute the difference between the averages calculated and the weekly number of deaths in 2020, then make a plot! 
3. It would also be very interesting to see if you can make a link between cases at a point in time and deaths at a point in time in the future.

## PROBLEM: the data does not have the LAD information, but we do have regional information!